<!DOCTYPE html>
<html lang="ru">
<head>
	<title>test_sait</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="stile.css">
</head>
<body>
	<div id='wrapper'>
	<header id='main_header'> <!--Заголовок-->
		<h1>Это главный заголов веб-сайта</h1>
	</header>
	<nav id='main_menu'> <!--навигация-->
		<ul>
			<li>Домой</li>
			<li>Фотографии</li>
			<li>Видео</li>
			<li>Контакты</li>
		</ul>
	</nav>
	<section id='main_section'> <!--основная информация-->
		<article> <!--Статья-->
			<header>
				<hgroup>
					<h1>Загловок статьи 1</h1>
					<h2>подзаголовок статьи 1</h2>
				</hgroup>
				<time datetime="16.07.2020" pubdate>опубликовано 10.12.2020</time>	
			</header>
			Это Текст моей первой статьи
			<figure>
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Perchtoldsdorf_Pfarrkirche_T%C3%BCrkenfenster_01.jpg/112px-Perchtoldsdorf_Pfarrkirche_T%C3%BCrkenfenster_01.jpg" height="440px" width="252">
				<figcaption>
					<cite>	
						изображение дня <<туредское окно приходской церкви>>
					</cite>	
				</br><time datetime='16-07-2020'pubdate>опубликовано 16.12.2011</time></br>
				</figcaption>
			</figure>
			<footer>
				<p>комментарии (0)</p>
			</footer>
		</article>
		<article> <!--Статья 1-->
			<header>
				<hgroup>
					<h1>Заголовок статьи 2</h1>
					<h2>подзаголовок статьи 2</h2>
				</hgroup>	
			</header>
			Это текст моей второй статьи
			<footer>
				<p>комментарии (0)</p>
			</footer>	
		</article>
	</section>
	<aside id='main_aside'> <!--Боковая панель-->
		<blockquote>Статья номер 1</blockquote>
		<blockquote>Статья номер 2</blockquote>
	</aside>
	<footer id='main_footer'> <!--Подвал сайта-->
		<em> <!--em-курсив; strong-полужирный; mark-подсветка;-->
			<small> <!--мелкий шрифт-->
				&copy; Aleksey_dolgov
			</small>	
		</em>	
	</footer>
	</div>
</body>
</html>
